<template>
    <div id="crud">

        <header class="header">
            <span><h3 class="titreHeader">Web App'iculture</h3></span>
            <div class="buttonsHeader">
                <button class="acButton"><router-link id="accueil" class="buttonContent" to="/">Accueil</router-link></button>
                <button class="acButton"><router-link class="buttonContent" to="/configuration">Configuration</router-link></button>
            </div>
        </header>

        <main class="main">
            <div class="titreCreer">
                <span class="titre">Config. du site</span>
            </div>

            <div class="sectionSaisir">
                <span class="leftTab">Fréquence de visites :</span><br>
                <input class="inputCreer" type="number" name="frequency" v-model="frequency" value="frequency">
            </div>


            <div class="sectionSaisir">
                <span class="leftTab">Nouvel environnement :</span><br>
                <input class="inputCreer" v-model="newEnv" type="text" name="env"><br>

            </div>

            <label class="inputCreer">Environnements types : </label>
            <ul>
                <li v-bind:key="data" v-for="data in envType">{{ data }}</li>
            </ul>

            <button class="bValider" v-on:click="addApiary(apiary)">Valider</button>
        </main>

        <h2>Liste des ruchers créés</h2>

        <footer class="footer">
            <span>- Web App-iculture - Tout droit réservés - <br>Guillon Joffrey, Lafont Mathieu</span>
        </footer>
    </div>
</template>

<script>
    var db;

    var request = self.indexedDB.open('apiaryDB',1)

    request.onerror = function() {
    };

    request.onsuccess = function() {
        db = request.result;
    };

    request.onupgradeneeded = function (event) {
        var db = event.target.result;
        var objectStoreApiary= db.createObjectStore("apiary",{keyPath: "id"})
        var objectStoreVisits= db.createObjectStore("visits",{keyPath: "id"})

        var apiary = []
        for (var i in apiary) {
            objectStoreApiary.add(apiary[i]);
        }

        var visits = []
        for (var j in visits) {
            objectStoreVisits.add(visits[j]);
        }
    }

    export default {
        name: "CreateApiary",
        data: function () {
            return {
                apiary: {
                    id: null,
                    nbHives: 0,
                    description: null,
                    coords: [0.0,0.0],
                    createdAt: null,
                    frequency: localStorage.getItem('frequency'),
                    visits: []
                },
                visit : {
                    id: null,
                    apiary: null,
                    developmentDynamics : null,
                    food: null,
                    increases: null,
                    observations: null

                },
                apiaries: [],
                visits: []
            }
        },
        mounted(){
            this.readAll()
        },
        methods: {
            addApiary: function (apiary) {
                var vm = this
                var newApiary = {
                    id: apiary.id,
                    nbHives: apiary.nbHives,
                    description: apiary.description,
                    coords: this.getDeviceLocalisation(),
                    createdAt: this.getCurrentdate(),
                    frequency: apiary.frequency,
                    visits : apiary.visits
                }

                var transaction = db.transaction(["apiary"], "readwrite")

                var objectStore = transaction.objectStore("apiary")

                var objectStoreRequest = objectStore.add(newApiary)
                objectStoreRequest.onsuccess = function() {
                    vm.apiaries.push(newApiary)

                    alert('Rucher crée avec succès !')
                    vm.apiary.id = null
                    vm.apiary.nbHives = null
                    vm.apiary.description = null
                    vm.apiary.coords = null
                    vm.apiary.createdAt = null
                    vm.apiary.visits = null
                }
                objectStoreRequest.onerror = function() {
                    alert("L'identifiant existe déjà !");
                }
            },
            edit(apiary, index) {
                var vm = this
                new Promise((resolve) => {
                    vm.remove(apiary.id, index)
                    resolve(vm.addApiary(apiary));
                });

            },
            readAll() {
                var vm = this
                try {
                    vm.apiaries = []
                    var objectStore = db.transaction("apiary").objectStore("apiary");
                    if(objectStore){
                        objectStore.openCursor().onsuccess = function(event) {
                            var cursor = event.target.result;

                            if (cursor) {
                                if(vm.apiaries){
                                    vm.apiaries.push({
                                        edit: false,
                                        id: cursor.value.id,
                                        nbHives: cursor.value.nbHives,
                                        description: cursor.value.description,
                                        coords: cursor.value.coords,
                                        createdAt: cursor.value.createdAt,
                                        frequency: cursor.value.frequency,
                                        visits: cursor.value.visits,
                                    });
                                }
                                cursor.continue();
                            }
                        };
                    }
                }catch(e){
                    vm.retryDisp()
                }
            },
            remove(id, index) {
                var vm = this
                db.transaction(["apiary"], "readwrite")
                    .objectStore("apiary")
                    .delete(id);
                vm.apiaries.splice(index, 1)
            },
            retryDisp() {
                var vm = this
                if( ++vm.retryCount > 5 ) {
                    vm.readAll();
                }
                setTimeout(function(){ vm.readAll() }, 100);
            },
            getCurrentdate(){
                var today = new Date()

                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                return dd + '/' + mm + '/' + yyyy;
            },
            checkApiaryVisits(apiary){
                var lastVisit = apiary.createdAt.getTime()
                var today = new Date().getTime()

                var interval =Math.round( today - lastVisit)

                return Math.floor(interval/24)
            },
            getDeviceLocalisation(){
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        function (position) {
                            return [position.coords.longitude,position.coords.latitude]
                        },
                        function (error) {
                            alert(error.message);
                        }, {
                            enableHighAccuracy: true,
                            timeout: 5000
                        }
                    );
                } else {
                   return "Geolocation is not supported by this browser."
                }
            }
        }
    }
</script>


<style>
    /*
     ORANGE : #e67e22
     BLANC : #ecf0f1
     NOIR : #2c3e50
     */

    body{
        margin: 0 !important;
    }

    #crud{
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: #2c3e50;
    }

    .titreHeader{
        font-size: 20px;
    }

    .header{
        background-color: #e67e22;
        padding: 10px 10px;
        height: 50px;
        margin-top: 0;
        color: #ecf0f1;
        display: flex;
        align-items: center;
        justify-content: left;
        box-shadow: 1px 1px 20px #11181F;
        position: fixed;
        width: 100vw;
    }

    .acButton{
        background-color: #2c3e50;
        text-decoration: none;
        color: #ecf0f1;
        border: 0;
        transition: 0.2s;
        box-shadow: 1px 1px 5px #101010;
        border-radius: 25px;
        padding: 20px;
        height: 50px;
        font-size: 15px;
    }

    .acButton .buttonContent:hover{
        background-color: #ecf0f1;
        color: #2c3e50;
    }

    .buttonContent{
        text-decoration: none;
        color: #ecf0f1;
    }

    .buttonsHeader{
        position: fixed;
        right: 5px;
    }

    /* **************************************** */

    .main{
        padding: 100px 10px 50px;
        box-sizing: border-box;
    }

    /*#tableContent{
        width: 50px;
    }
*/
    .titreCreer{
        text-align: center;
        margin-bottom: 100px;
    }

    .titre{
        color: #ecf0f1;
        font-size: 70px;
    }

    th,td{
        color: white;
    }

    tbody{
        width: 100%;
    }

    .sectionSaisir{
        margin-bottom: 130px;
    }

    .leftTab{
        text-align: left;
        font-size: 50px;
        color: #FFFFFF;
    }

    .inputCreer{
        padding: 0px;
        width: 100%;
        height: 100px;
        font-size: 50px;
        color: #FFFFFF;
    }

    .bValider{
        background-color: #e67e22;
        color: #FFFFFF;
        border: 0;
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 25px;
        transition: 0.2s;
        margin-top: 50px;
    }

    .bValider:hover{
        background-color: #FFFFFF;
        color: #e67e22;
    }

    /* **************************************** */

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #121A21;
        color: #2c3e50;
        text-align: center;
        padding: 5px;
        width: 100vw;
    }
</style>
