<template>
    <div id="crud">

        <header class="header">
            <span><h3 class="titreHeader">Web App'iculture</h3></span>
            <div class="buttonsHeader">
                <button class="acButton"><router-link id="accueil" class="buttonContent" to="/">Accueil</router-link></button>
                <button class="acButton"><router-link class="buttonContent" to="/configuration">Configuration</router-link></button>
            </div>
        </header>

        <main class="main">
            <div class="titreCreer">
                <span class="titre">Config. du site</span>
            </div>

            <div class="sectionSaisir">
                <span class="leftTab">Fréquence de visites :</span><br>
                <input class="inputCreer" type="number" name="frequency" v-model="frequency" value="frequency">
            </div>


            <div class="sectionSaisir">
                <span class="leftTab">Nouvel environnement :</span><br>
                <input class="inputCreer" v-model="newEnv" type="text" name="env"><br>
                <button class="bValider" v-on:click="addEnv">Ajouter</button><br><br>


            </div>

            <label class="listeEnvironnements">Environnements types : </label>
            <ul>
                <li v-bind:key="data" v-for="data in envType">{{ data }}</li>
            </ul>

            <button class="bValider" v-on:click="checkForm()">Valider</button>
        </main>

        <h2>Liste des ruchers créés</h2>

        <footer class="footer">
            <span>- Web App-iculture - Tout droit réservés - <br>Guillon Joffrey, Lafont Mathieu</span>
        </footer>
    </div>
</template>

<script>

    if (JSON.parse(localStorage.getItem('envType'))) {
        if (JSON.parse(localStorage.getItem('envType')).length === 0) {
            localStorage.setItem("envType",JSON.stringify([]))
        }
    }else{
        localStorage.setItem("envType", '[]')
    }

    export default {
        name: "Configuration",
        data() {
            return {
                frequency: localStorage.getItem("frequency"),
                envType: JSON.parse(localStorage.getItem("envType")),
                newEnv: '',
            }
        },
        methods: {
            checkForm: function () {
                if (this.frequency && this.envType){
                    localStorage.setItem("frequency", this.frequency)
                    localStorage.setItem("envType", JSON.stringify(this.envType))
                }
            },
            addEnv: function () {
                this.envType.push(this.newEnv)
                localStorage.setItem('envType',JSON.stringify(this.envType))
            }
        }
    }
</script>

<style>
    /*
     ORANGE : #e67e22
     BLANC : #ecf0f1
     NOIR : #2c3e50
     */

    body{
        margin: 0 !important;
    }

    #crud{
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: #2c3e50;
    }

    .titreHeader{
        font-size: 20px;
    }

    .header{
        background-color: #e67e22;
        padding: 10px 10px;
        height: 50px;
        margin-top: 0;
        color: #ecf0f1;
        display: flex;
        align-items: center;
        justify-content: left;
        box-shadow: 1px 1px 20px #11181F;
        position: fixed;
        width: 100vw;
    }

    .acButton{
        background-color: #2c3e50;
        text-decoration: none;
        color: #ecf0f1;
        border: 0;
        transition: 0.2s;
        box-shadow: 1px 1px 5px #101010;
        border-radius: 25px;
        padding: 20px;
        height: 50px;
        font-size: 15px;
    }

    .acButton .buttonContent:hover{
        background-color: #ecf0f1;
        color: #2c3e50;
    }

    .buttonContent{
        text-decoration: none;
        color: #ecf0f1;
    }

    .buttonsHeader{
        position: fixed;
        right: 5px;
    }

    /* **************************************** */

    .main{
        padding: 100px 10px 50px;
        box-sizing: border-box;
    }

    /*#tableContent{
        width: 50px;
    }
*/
    .titreCreer{
        text-align: center;
        margin-bottom: 100px;
    }

    li{
        list-style-type: none;
        color: #ecf0f1;
        font-size: 50px;
    }

    .titre{
        color: #ecf0f1;
        font-size: 70px;
    }

    th,td{
        color: white;
    }

    tbody{
        width: 100%;
    }

    .sectionSaisir{
        margin-bottom: 130px;
    }

    .leftTab{
        text-align: left;
        font-size: 50px;
    }

    .inputCreer{
        padding: 0px;
        width: 100%;
        height: 100px;
        font-size: 50px;
    }

    .listeEnvironnements{
        padding: 0;
        width: 100%;
        height: 100px;
        font-size: 50px;
        color: #FFFFFF;
    }

    .bValider{
        background-color: #e67e22;
        color: #FFFFFF;
        border: 0;
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 25px;
        transition: 0.2s;
        margin-top: 50px;
    }

    .bValider:hover{
        background-color: #FFFFFF;
        color: #e67e22;
    }

    /* **************************************** */

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #121A21;
        color: #2c3e50;
        text-align: center;
        padding: 5px;
        width: 100vw;
    }
</style>
