<template>
    <body>
        <div id="home">
            <header class="header">
                <span><h3 class="titreHeader">Web App'iculture</h3></span>

                <button class="boButton"><router-link id="buttonContent" to="/apiary/create">Back Office</router-link></button>

            </header>

            <main class="main">
                <div v-on:click="visitApiary(apiary.id)" v-for="(apiary) in apiaries" class="apiary">
                    <div class="partieHaute">
                        <div class="titreRucher">
                            <span>{{apiary.id}}</span>
                        </div>
                    </div>

                    <div class="partieBasse">
                        <div class="nombreRuche">
                            <span class="nombre">{{apiary.nbHives}}</span>
                            <span class="sousTitreNombre">Ruches</span>
                        </div>


                        <div class="informationRucher">
                            <span class="text">A visiter rapidement.</span>
                        </div>
                    </div>
                </div>
            </main>


            <footer class="footer">
                <span>- Web App-iculture - Tout droit réservés - <br>Guillon Joffrey, Lafont Mathieu</span>
            </footer>
        </div>
    </body>
</template>

<script>
    var db;

    var request = self.indexedDB.open('apiaryDB',1)

    request.onerror = function() {
    };

    request.onsuccess = function() {
        db = request.result;
    };

    request.onupgradeneeded = function (event) {
        var db = event.target.result;
        var objectStoreApiary= db.createObjectStore("apiary",{keyPath: "id"})
        var objectStoreVisits= db.createObjectStore("visits",{keyPath: "id"})

        var apiary = []
        for (var i in apiary) {
            objectStoreApiary.add(apiary[i]);
        }

        var visits = []
        for (var j in visits) {
            objectStoreVisits.add(visits[j]);
        }
    }


    export default {
        name: "HomePage",
        data: function () {
            return {
                apiary: {
                    id: null,
                    nbHives: 0,
                    description: null,
                    coords: [0.0,0.0],
                    createdAt: null,
                    frequency: localStorage.getItem('frequency'),
                    visits: []
                },
                visit : {
                    id: null,
                    apiary: null,
                    developmentDynamics : null,
                    food: null,
                    increases: null,
                    observations: null

                },
                apiaries: [],
                visits: []
            }
        },
        mounted(){
            this.readAll()
        },
        methods:{
            readAll() {
                var vm = this
                try {
                    vm.apiaries = []
                    var objectStore = db.transaction("apiary").objectStore("apiary");
                    if(objectStore){
                        objectStore.openCursor().onsuccess = function(event) {
                            var cursor = event.target.result;

                            if (cursor) {
                                if(vm.apiaries){
                                    vm.apiaries.push({
                                        edit: false,
                                        id: cursor.value.id,
                                        nbHives: cursor.value.nbHives,
                                        description: cursor.value.description,
                                        coords: cursor.value.coords,
                                        createdAt: cursor.value.createdAt,
                                        frequency: cursor.value.frequency,
                                        visits: cursor.value.visits,
                                    });
                                }
                                cursor.continue();
                            }
                        };
                    }
                }catch(e){
                    vm.retryDisp()
                }
            },
            retryDisp() {
                var vm = this
                if( ++vm.retryCount > 5 ) {
                    vm.readAll();
                }
                setTimeout(function(){ vm.readAll() }, 100);
            },
            visitApiary(id){
                window.location.replace(window.location.href + 'apiary/visit/'+id)
            }
        }
    }

</script>


<style scoped>
    /*
     ORANGE : #e67e22
     BLANC : #ecf0f1
     NOIR : #2c3e50
     */
    body{
        margin: 0 !important;
    }

    #home{
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: #2c3e50;
    }

    .titreHeader{
        font-size: 20px;
    }

    .header{
        background-color: #e67e22;
        padding: 10px 10px;
        height: 50px;
        margin-top: 0;
        color: #ecf0f1;
        display: flex;
        align-items: center;
        justify-content: left;
        box-shadow: 1px 1px 20px #11181F;
        position: fixed;
        width: 100%;
    }

    .boButton{
        background-color: #2c3e50;
        text-decoration: none;
        position: fixed;
        right: 15px;
        color: #ecf0f1;
        border: 0;
        transition: 0.2s;
        box-shadow: 1px 1px 5px #101010;
        border-radius: 25px;
        padding: 20px;
        height: 50px;
        width: 120px;
        font-size: 15px;
    }

    .boButton #buttonContent:hover{
        background-color: #ecf0f1;
        color: #2c3e50;
    }

    #buttonContent{
        text-decoration: none;
        color: #ecf0f1;
    }

    /* **************************************** */

    .main{
        padding: 110px 10px 50px;
        height: 100vh;
    }

    .apiary{
        display: flex;
        flex-direction: column;
        height: 200px;
        box-shadow: 2px 2px 10px #121A21;
        border-radius: 15px;
        padding: 10px;
        background-color: #2ecc71;
        color: #ecf0f1;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .apiary:first-child{
        background-color: red;
    }

    .apiary:nth-child(2n){
        background-color: #e67e22;
    }

    .apiary:last-child{
        background-color: #2ecc71;
    }

    .partieHaute{

    }

    .partieBasse{
        margin-top: 10px;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .nombreRuche{
        margin: 2px;
        display: flex;
        width: 200px;
        flex-direction: column;
        text-align: center;
        background-color: #121A21;
        border-radius: 20px;
        box-shadow: 1px 1px 5px black;
    }

    .sousTitreNombre{
        font-size: 20px;
    }

    .titreRucher{
        font-size: 40px;
    }

    .nombre{
        font-size: 80px;
    }

    .informationRucher{
        margin: 2px;
        width: 100%;
        height: 100%;
        display: table;
        vertical-align: middle;
        text-align: center;
    }

    .text{
        display:table-cell;
        vertical-align:middle;
        padding: 20px;
        color: #ecf0f1;
        font-size: 30px;
    }


    /* **************************************** */

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #121A21;
        color: #2c3e50;
        text-align: center;
        padding: 5px;
        width: 100vw;
    }
</style>

