<template>
    <div id="visit">
        <header class="header">
            <span><h3 class="titreHeader">Web App'iculture</h3></span>

            <button class="boButton"><router-link id="buttonContent" to="/apiary/create">Back Office</router-link></button>

        </header>

        <main class="main">

            <div class="infos">

                <p>Identifiant:</p> <p>{{apiary.id}}</p>
                <p>Nombre de ruches:</p> <p>{{apiary.nbHives}}</p>
                <p>Description:</p> <p>{{apiary.description}}</p>
                <p>Crée le:</p> <p>{{apiary.createdAt}}</p>
                <p>Fréquence de visite:<input type="text" v-model="apiary.frequency">
                <p>Latitude:</p> <input type="text" v-model="apiary.latitude">
                <p>Longitude:</p> <input type="text" v-model="apiary.longitude">
            </div>

            <div id="crea">
                <div class="titreCreer">
                    <span class="titre">Nouvelle visite</span>
                </div>

                <div class="sectionSaisir">
                    <span class="leftTab">Dynamique de développement:</span><br>
                    <input class="inputCreer" type="text" v-model="visit.developmentDynamics">
                </div>


                <div class="sectionSaisir">
                    <span class="leftTab">Nourriture apportée:</span><br>
                    <input class="inputCreer" type="text" v-model="visit.food">
                </div>


                <div class="sectionSaisir">
                    <span class="leftTab">Hausses récoltées:</span><br>
                    <input type="number" class="inputCreer" v-model="visit.increases">
                </div>

                <div class="sectionSaisir">
                    <span class="leftTab">Observations:</span><br>
                    <textarea class="inputCreer" v-model="visit.observations"></textarea>
                </div>

                <button class="bValider" v-on:click="addVisit(visit)">Valider</button>
            </div>
        </main>
    </div>
</template>

<script>

    var db;

    var request = self.indexedDB.open('apiaryDB',1)

    request.onerror = function() {
    };

    request.onsuccess = function() {
        db = request.result;
    };

    request.onupgradeneeded = function (event) {
        var db = event.target.result;
        var objectStoreApiary= db.createObjectStore("apiary",{keyPath: "id"})
        var objectStoreVisits= db.createObjectStore("visits",{keyPath: "id"})

        var apiary = []
        for (var i in apiary) {
            objectStoreApiary.add(apiary[i]);
        }

        var visits = []
        for (var j in visits) {
            objectStoreVisits.add(visits[j]);
        }
    }

    export default {
        name: "HomePage",
        data: function () {
            return {
                apiary: {
                    id: null,
                    nbHives: 0,
                    description: null,
                    coords: [0.0,0.0],
                    createdAt: null,
                    frequency: null,
                    latitude: null,
                    longitude: null,
                    visits: []
                },
                visit : {
                    apiary: null,
                    developmentDynamics : null,
                    food: null,
                    increases: null,
                    observations: null

                },
                apiaries: [],
                visits: []
            }
        },
        mounted(){
            this.getInfosApiary(this.$route.params.id)
        },
        methods:{
            getInfosApiary: function (id) {
                var vm = this
                try {
                    var objectStore = db.transaction("apiary").objectStore("apiary");
                    if(objectStore){
                        var request = objectStore.get(id)

                        request.onsuccess = function () {
                            vm.apiary.id = request.result.id
                            vm.apiary.nbHives = request.result.nbHives
                            vm.apiary.description = request.result.description
                            vm.apiary.frequency = request.result.frequency
                            vm.apiary.createdAt = request.result.createdAt
                            vm.apiary.latitude = request.result.latitude
                            vm.apiary.longitude = request.result.longitude
                        }
                    }
                }catch (e) {
                    vm.retryDisp(id)
                }
            },
            retryDisp(id) {
                var vm = this
                if( ++vm.retryCount > 5 ) {
                    vm.getInfosApiary(id);
                }
                setTimeout(function(){  vm.getInfosApiary(id) }, 100);
            },
            addVisit: function (visit) {
                var vm = this
                var newVisit = {
                    developmentDynamics: visit.developmentDynamics,
                    food: visit.food,
                    increases: visit.increases,
                    observations: visit.observations
                }

                var transaction = db.transaction(["apiary"], "readwrite")

                var objectStore = transaction.objectStore("visits")

                var objectStoreRequest = objectStore.add(newVisit)
                objectStoreRequest.onsuccess = function() {
                    vm.visits.push(newVisit)

                    alert('Visite créée avec succès !')
                    vm.visit.developmentDynamics = null
                    vm.visit.food = null
                    vm.visit.increases = null
                    vm.visit.observations = null
                }
            }
        }
    }

</script>

<style scoped>
    /*
     ORANGE : #e67e22
     BLANC : #ecf0f1
     NOIR : #2c3e50
     */

    main{
        background-color: #2c3e50;
    }

    p{
        color: white;
    }

    .titreHeader{
        font-size: 50px;
    }

    .header{
        background-color: #e67e22;
        padding: 10px 10px;
        height: 170px;
        margin-top: -60px;
        color: #ecf0f1;
        display: flex;
        align-items: center;
        justify-content: left;
        box-shadow: 1px 1px 20px #11181F;
        position: fixed;
        width: 100%;
    }

    .boButton #buttonContent {
        background-color: #2c3e50;
        margin-top: -44px;
        text-decoration: none;
        position: fixed;
        right: 15px;
        color: #ecf0f1;
        border: 0;
        top: 60px;
        transition: 0.2s;
        box-shadow: 1px 1px 5px #101010;
        border-radius: 25px;
        padding: 20px;
        height: 50px;
        width: 200px;
        font-size: 35px;
    }

    .boButton #buttonContent:hover{
        background-color: #ecf0f1;
        color: #2c3e50;
    }

    /* **************************************** */

    .main{
        padding: 230px 10px 50px;
    }

    .apiary{
        display: flex;
        flex-direction: column;
        height: 350px;
        box-shadow: 2px 2px 10px #121A21;
        border-radius: 15px;
        padding: 10px;
        background-color: #2ecc71;
        color: #ecf0f1;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .apiary:first-child{
        background-color: red;
    }

    .apiary:nth-child(2n){
        background-color: #e67e22;
    }

    .apiary:last-child{
        background-color: #2ecc71;
    }

    .partieHaute{

    }

    .partieBasse{
        margin-top: 10px;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .nombreRuche{
        margin: 2px;
        width: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #121A21;
        border-radius: 20px;
        box-shadow: 1px 1px 5px black;
    }

    .sousTitreNombre{
        font-size: 50px;
    }

    .titreRucher{
        font-size: 50px;
    }

    .nombre{
        font-size: 170px;
    }

    .informationRucher{
        margin: 2px;
        width: 100%;
        height: 100%;
        display: table;
        vertical-align: middle;
        text-align: center;
    }

    .text{
        display:table-cell;
        vertical-align:middle;
        padding: 20px;
        color: #ecf0f1;
        font-size: 50px;
    }


    /* **************************************** */

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #121A21;
        color: #2c3e50;
        text-align: center;
        padding: 5px;
        width: 100%;
    }
</style>
